.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  outline: 1px solid rgba(0, 0, 0, 0.6);
  color: rgb(252, 252, 252);
  background-color: rgba(0, 0, 0, 0.4);
}
.label {
  width: 400px;
  margin: 10px;
  margin-left: 20px;
}
.input {
  margin-top: 5px;
  display: block;
  width: 100%;
}
.button {
  background: linear-gradient(
    to right,
    rgba(67, 67, 67, 0.7),
    rgba(0, 0, 0, 0.7)
  );

  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 150px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */

  /* transition: transform 0.3s; */
}
.button:hover,
.button:focus {
  transform: scale(1.02);
}
